/*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 * 
 * Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
 * 
 * The contents of this file are subject to the terms of either the GNU
 * General Public License Version 2 only ("GPL") or the Common Development
 * and Distribution License("CDDL") (collectively, the "License").  You
 * may not use this file except in compliance with the License. You can obtain
 * a copy of the License at https://glassfish.dev.java.net/public/CDDL+GPL.html
 * or glassfish/bootstrap/legal/LICENSE.txt.  See the License for the specific
 * language governing permissions and limitations under the License.
 * 
 * When distributing the software, include this License Header Notice in each
 * file and include the License file at glassfish/bootstrap/legal/LICENSE.txt.
 * Sun designates this particular file as subject to the "Classpath" exception
 * as provided by Sun in the GPL Version 2 section of the License file that
 * accompanied this code.  If applicable, add the following below the License
 * Header, with the fields enclosed by brackets [] replaced by your own
 * identifying information: "Portions Copyrighted [year]
 * [name of copyright owner]"
 * 
 * Contributor(s):
 * 
 * If you wish your version of this file to be governed by only the CDDL or
 * only the GPL Version 2, indicate your decision by adding "[Contributor]
 * elects to include this software in this distribution under the [CDDL or GPL
 * Version 2] license."  If you don't indicate a single choice of license, a
 * recipient has the option to distribute your version of this file under
 * either the CDDL, the GPL Version 2 or to extend the choice of license to
 * its licensees as provided above.  However, if you add GPL Version 2 code
 * and therefore, elected the GPL Version 2 license, then the option applies
 * only if the new code is made subject to such option by the copyright
 * holder.
 */


/*
 * Default CSS stylesheet
 */

body {
    background-color: white;
}

OL.toc {
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: rgb(231, 111, 0);
}

h3, h4, h5, h6 {
    color: #000;
}

code {
    font-family: Courier, monospace;
}

diff {
    font-family: Courier, monospace;
    color: red;
}

a {
  text-decoration:none;
}
a:visited {
  color:#917E9C;
}
a:link {
  color:#3E6B8A;
}

a:hover {
  text-decoration:underline;
}

DIV.footer {/* header on each HTML file that shows the revision */
	text-align: right;
	font-size: 0.8em;
	padding-right: 80px;
	background: url("sunlogo.gif") no-repeat right bottom;
}


/*------------------------------ navigation bar ------------------------------*/
.navbar {
  border-spacing: 0px;
  border: 0px;
  margin-left: 1em;
}

.navbar TD {
  border-right:5px solid #FFF;
  padding:0px;
  vertical-align: top;
}

.navbar TD A {
  padding: 6px 7px 3px 7px;
  border: none;
  margin: none;
  display: block;
  text-decoration: none;
}

.navbar TD A:hover {
  text-decoration: underline;
}


.navbar TD.active {
  background: #507c9a url("bg_titlebar.gif") no-repeat left top;
}

.navbar TD.active A {
  background: url("a2_corner_tr.gif") no-repeat right top;
  font-weight: bold;
  color: white;
}

.navbar TD.inactive {
  background: #CCDAE3 url("d7_tab_bg.gif") no-repeat left top;
  border-top: 3px solid #FFF;  /* so that active tabs are drawn 3px taller than others */
}

.navbar TD.inactive A {
  background: url("corner_navblue_tr.gif") no-repeat right top;
  color: rgb(53, 85, 107);
}

DIV.nested-elements {/*Any synopsys, nested elements*/
	margin-left: 2em;
}

PRE.ant-example {
	/* same with PRE.code */
	background-color: rgb(240,240,255);
	border: 1px solid navy;
	color: black;
	font-weight: bold;
	padding: 0.5em;
	margin-left: 2em;
	margin-right: 2em;
}

.subnavbar {
  display: block;
  background: #507c9a;
  padding: 9px 7px 5px 7px;
}
.subnavbar UL {
  display: inline;
  margin-left: 0px;
  padding-left: 0px;
}
.subnavbar UL LI {
  display: inline;
  margin-left: 0px;
  border-left: 1px solid #FFF;
  padding-left: 5px;
}
.subnavbar UL LI.first {
  border-left: none;
}
.subnavbar A {
  font-weight:normal;
  color:#CCDAE3;
  text-decoration: none;
}
.subnavbar A:hover {
  text-decoration: underline;
}
.subnavbar A:visited {
  font-weight:normal;
  color:#FFF;
}
.subnavbar UL LI A SPAN.active {
  font-weight: bold;
  color:#FFF;
}